<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    //- <link rel="stylesheet" href="../css/ficha.css">
    style 
        include ../css/ficha.css
    <title>Ficha</title>
</head>
<body>
    <main>
        <div id="nome">
            h1=nome
            
        </div>
        <div id="patente">
            h3=patente
            
        </div>
        <div id="nome_de_guerra">
            h3=nomeGuerra
        </div>
        <div id="horario">
            span=data
            //- <span>Horario de chegada: <span id="horario_chegada">13:30</span></span>
        </div>  
        <div id="assunto">
            <h2>Assunto</h2>
            p=assunto
        </div>
    </main>
</body>
</html>